# Default ignored files
/shelf/
/workspace.xml

# Ignored default folder with query files
/queries/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# IDEs
.idea/
.vscode/
*.swp

# Project Data (Don't upload simulation results)
*.csv
*.log
flight_data.csv
stall_data.csv
cobra_data.csv

# OS
.DS_Store
Thumbs.db